node_modules
dist
release

/.cache
/build
.env

# Ignore Visual Studio settings
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore VS Code settings
.vscode/

# claude ai
.claude/

#ignore test form 
testform/*.zip
testform/index.zip
testform/index.apdf

#ignore test form packaging script 
apdf_worksheet.ps1
